html, body{
    padding:0;
    margin:0;
    height: 100vh;
}
.container{
    height:100%;
    display:flex;
    justify-content:center;
    align-items: center;
    background:lightblue

}
.card{
    border: 1px solid #ffffff;
    height:30rem;
    width:20rem;
    position: relative;
}

.foder{
    position: absolute;
    bottom: 0px;
    left: 0;
    right:0;
    text-align:center;
    background: beige;
    padding: 9px;
}